extends layout

block content

    // Main Content
    .main-content
    section#Olympics
        h2 Olympics Closing Ceremony Lights Up the City of Lights in a Spectacular Farewell
        p By Jam McCarvel
        p
        | 11 August 2024 15:30 
        span
            b 4 min
        img(src='images/news_olympics.png' alt='Olympics')
        .blog
        p
            | From its very start on a memorable evening on the Seine River to its spectacular finish inside the iconic Stade de France, these Olympic Games Paris 2024 were like nothing we&apos;ve ever seen before.
        p
            | Sunday evening&apos;s (11 August) Closing Ceremony marked the end of a return to the City of Light for the first time in 100 years, a glittering farewell steeped in layers of French culture - and an official handover to LA 2028.
            | Newly-minted French icon Leon Marchand, who won four golds in the pool this Games, opened the ceremony under the Olympic cauldron before some 9,000 athletes paraded into the Stade de France, with a programme harkening back to the creation of the modern Games, by Frenchman Pierre de Coubertin.
        p
            | IOC President Thomas Bach praised the athletes&apos; performances for &ldquo;sparking excitement&rdquo; around the world, but also nodded to a pivot in the Olympic movement &ndash; to &ldquo;a new era.&rdquo;
            | &ldquo;The Olympic Games Paris 2024 were a celebration of the athletes and sport at its best,&rdquo; Bach said during his speech. &ldquo;The first Olympic Games delivered fully under our Olympic Agenda reforms: younger, more urban, more inclusive, more sustainable. The first Olympic Games with full gender parity.&rdquo;
