extends layout

block content
  .main-content
    // News Olympics
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-4
          img.img-fluid.mx-auto.m-5.d-block(src='images/news_olympics.png' alt='Olympics')
        .col-4
          .headline
            a(href='blog.html')
              | Olympics Closing Ceremony Lights Up the City of Lights in
              | a Spectacular Farewell
          br
          .blog_content
            | Paris Olympics concludes with amazing performances from performers all over the world.
          .blog_time
            | 5 HOURS AGO | 4 MIN READ
    hr
    // Latest Stories: Disney & Tragedy
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-5
          .category
            | LATEST STORIES
          .headline
            | Disney Faces Arbitration Over Restaurant Dispute, Alleging Contract Violations
            | and Unfair Practices
          br
          .blog_content
            | Defendant lawyers &ldquo;slam&rdquo; arbitration clause found in Disney+ terms of use in plaintiff&apos;s case.
          .blog_time
            | 2 HOURS AGO | 5 MIN READ
        .col-3
          img.img-fluid.mx-auto.m-5.d-block(src='images/news_disney.png' alt='Disney')
    .container-fluid
      .row.align-items-center.justify-content-center.p-20.mt-60
        .col-5
          .headline Tragedy As Yacht Sinks in Sicilian Port, No Survivors Found
          br
          .blog_content
            | A luxury yacht sank off the coast of Sicily after catching fire, leading to the dramatic rescue
            | of all eight people on board by the Italian Coast Guard
          .blog_time
            | 3 HOURS AGO | 3 MIN READ
        .col-3
          img.img-fluid.mx-auto.m-5.d-block(src='images/news_tragedy.png' alt='Tragedy')
    hr
    // Video
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-4
          .category
            | VIDEO
          img.img-fluid.mx-auto.m-5.d-block(src='images/video.png' alt='Ports')
        .col-4
          .headline
            | The Fight to Modernize India&apos;s Ports
          br
          .blog_content
            | India is pushing to modernize its ports with significant investments and reforms amidst
            | resistance from entrenched interests.
    hr
    // Opinion
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-4
          .category OPINION
          br
          img.img-fluid.mx-auto.m-5.d-block(src='images/man.png' alt='Opinion 1')
        .col-4
          br
          .headline Birds Are Not Real
          br
          .blog_content
            | The &quot;Birds Aren&apos;t Real&quot; movement humorously claims that birds are government surveillance
            | drones, satirizing conspiracy theories to raise awareness of misinformation and highlight the
            | absurdity of some modern-day beliefs.
          .opinion
            | BY JOHN BIRDMAN
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-4
          img.img-fluid.mx-auto.m-5.d-block(src='images/man.png' alt='Opinion 2')
        .col-4
          br
          .headline How I Use AI to Create Cat Videos
          br
          .blog_content
            | My videos on TikTok portray my new cat, Fluffy, but here&apos;s the secret, he&apos;s AI-generated!
          .opinion
            | BY MEGAN CATARINA