extends layout

block content

    if registrations.length
        table.listing-table.table-light.table-striped
            tr
                th Name
                th Email
                th Phone 
                th Preference
            each registration in registrations
                tr
                    td= registration.name
                    td= registration.email
                    td= registration.phone
                    td= registration.preference
    else
        p No registrations yet :(