extends layout

block content
  .main-content
    // News Olympics
    .container-fluid
      .row.align-items-center.justify-content-center.p-20
        .col-4
          .headline
            | Thank you for signing up!

